# Go
go.sum
vendor/

# Environment
.env

# Database
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm

# User uploads
storage/*
!storage/.gitkeep


# Node
node_modules/
npm-debug.log
yarn-error.log

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

.deploy
.vite-port
# Build artifacts
tmp/
dist
